a {
  color: #18453b;
}

aside {
  background: #18453b;
  color: #e5e5e5;
  grid-area: aside;
  overflow: hidden;
  padding: 2ex;
}

aside > :nth-child(n+2) {
  display: block;
  margin-bottom: 10ex;
  margin-top: 5ex;
}

aside a {
  color: inherit;
}

aside ul {
  padding-left: 2ex;
}

body {
  height: 100%;
}

code.language-js {
  background: #123123;
  color: #FFFFFF;
  line-height: 1.3em;
}

code.language-js > span {
  counter-increment: line-number;
  float: left;
  white-space: pre;
}

code.language-js > span:before {
  border-right: 1px solid #FFFFFF;
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.3);
  content: counter(line-number);
  float: left;
  left: 0;
  margin-right: 1em;
  padding: 0 4px;
  position: relative;
  text-align: right;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: 1.25em;
}

code.language-js .hightlighter--comment {color: #999999;}
code.language-js .hightlighter--init {color: #9cc54a;}
code.language-js .hightlighter--keyword {color: #8cc9d5;}
code.language-js .hightlighter--number {color: #fd971f;}
code.language-js .hightlighter--punctuation {color: #999999;}
code.language-js .hightlighter--string {color: #fd971f;}

h1 {
  color: #18453b;
  font-weight: 100;
  margin: 1ex 0 0;
}

h1 a {
  text-decoration: none;
}

header {
  grid-area: header;
}

pre code {
  background: gainsboro;
  display: block;
  overflow: auto;
}

pre code[class*="language-"] {
  border-radius: 1ex;
  padding: 1ex;
}

.cicada:after {
  background-color: rgb(224, 223, 209);
  background-image:
    linear-gradient(90deg,
      rgba(50, 100, 100, 0.5)  0%, /* teal */
      rgba(50, 100, 100, 0.5) 10%, /* teal */
      transparent             10%,
      transparent             20%,
      rgba(140, 35, 70, 0.5)  20%, /* magenta */
      rgba(140, 35, 70, 0.5)  30%, /* magenta */
      transparent             30%,
      transparent             40%,
      rgba(200, 200, 50, 0.5) 40%, /* gold */
      rgba(200, 200, 50, 0.5) 50%, /* gold */
      transparent             50%,
      transparent             60%,
      rgba(0, 170, 70, 0.5)   60%, /* green */
      rgba(0, 170, 70, 0.5)   70%, /* green */
      rgba(163, 44, 120, 0.5) 70%,
      rgba(163, 44, 120, 0.5) 80%,
      rgba(119, 64, 152, 0.5) 80%, /* purple */
      rgba(119, 64, 152, 0.5) 90%, /* purple */
      transparent             90%
    ),
    linear-gradient(90deg,
      rgba(50, 100, 100, 0.5)  0%, /* teal */
      rgba(50, 100, 100, 0.5) 10%, /* teal */
      transparent             10%,
      transparent             20%,
      rgba(140, 35, 70, 0.5)  20%, /* magenta */
      rgba(140, 35, 70, 0.5)  30%, /* magenta */
      transparent             30%,
      transparent             40%,
      rgba(200, 200, 50, 0.5) 40%, /* gold */
      rgba(200, 200, 50, 0.5) 50%, /* gold */
      transparent             50%,
      transparent             60%,
      rgba(0, 170, 70, 0.5)   60%, /* green */
      rgba(0, 170, 70, 0.5)   70%, /* green */
      rgba(163, 44, 120, 0.5) 70%,
      rgba(163, 44, 120, 0.5) 80%,
      rgba(119, 64, 152, 0.5) 80%, /* purple */
      rgba(119, 64, 152, 0.5) 90%, /* purple */
      transparent             90%
    ),
    linear-gradient(90deg,
      rgba(50, 100, 100, 0.5)  0%, /* teal */
      rgba(50, 100, 100, 0.5) 10%, /* teal */
      transparent             10%,
      transparent             20%,
      rgba(140, 35, 70, 0.5)  20%, /* magenta */
      rgba(140, 35, 70, 0.5)  30%, /* magenta */
      transparent             30%,
      transparent             40%,
      rgba(200, 200, 50, 0.5) 40%, /* gold */
      rgba(200, 200, 50, 0.5) 50%, /* gold */
      transparent             50%,
      transparent             60%,
      rgba(0, 170, 70, 0.5)   60%, /* green */
      rgba(0, 170, 70, 0.5)   70%, /* green */
      rgba(163, 44, 120, 0.5) 70%,
      rgba(163, 44, 120, 0.5) 80%,
      rgba(119, 64, 152, 0.5) 80%, /* purple */
      rgba(119, 64, 152, 0.5) 90%, /* purple */
      transparent             90%
    ),
    linear-gradient(90deg,
      rgba(50, 100, 100, 0.5)  0%, /* teal */
      rgba(50, 100, 100, 0.5) 10%, /* teal */
      transparent             10%,
      transparent             20%,
      rgba(140, 35, 70, 0.5)  20%, /* magenta */
      rgba(140, 35, 70, 0.5)  30%, /* magenta */
      transparent             30%,
      transparent             40%,
      rgba(200, 200, 50, 0.5) 40%, /* gold */
      rgba(200, 200, 50, 0.5) 50%, /* gold */
      transparent             50%,
      transparent             60%,
      rgba(0, 170, 70, 0.5)   60%, /* green */
      rgba(0, 170, 70, 0.5)   70%, /* green */
      rgba(163, 44, 120, 0.5) 70%,
      rgba(163, 44, 120, 0.5) 80%,
      rgba(119, 64, 152, 0.5) 80%, /* purple */
      rgba(119, 64, 152, 0.5) 90%, /* purple */
      transparent             90%
    )
  ;
  background-blend-mode: darken, color-burn, multiply;
  background-size: 17%, 19%, 33%, 33%;
  content: "";
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}

.cicada:before {
  background-image: linear-gradient(180deg, transparent, rgb(224, 223, 209) 30%);
  box-shadow: inset 0 3em 3em 0 rgba(0, 0, 0, 0.2);
  content: "";
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.dev-icons {
  background: #612e3f;
  border: 8px solid gainsboro;
  border-left: 0;
  border-right: 0;
  box-shadow:
    inset 0 100px 100px 0px rgba(0, 0, 0, 0.2),
    0 0 100px 10px rgba(0, 0, 0, 0.5);
  margin: 0 -2ex;
  padding: 4ex 2ex;
  text-align: center;
  width: 100%;
}

.dev-icons img {
  background: white;
  border-radius: 5px;
  height: 30px;
  margin: 5px;
  padding: 6px;
}

.jk-logo {
  display: table !important;
  margin: 0 auto;
}

.jk-logo img {
  background: white;
  height: 150px;
  padding: 6px;
}

.layout {
  background: white;
  box-shadow: 2rem 6rem 3rem 2rem rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
  margin: 4ex auto 8ex;
  max-width: 120ex;
  min-height: 80%;
  position: relative;
  z-index: 99;
}

.main {
  padding: 2ex;
}

.main h3 {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

.navigation,
.navigation ul,
.navigation ul li {
  margin: 0 -2ex;
  padding: 0 2ex;
}

.navigation ul li {
  list-style-type: none;
  margin: 0 -2ex 3px;
  overflow: hidden;
  padding: 0 2ex;
  transition: background 300ms;
}

.navigation ul li:hover {
  background: rgba(0, 0, 0, 0.4);
}

.navigation ul li.active {
  background: white;
  background: rgba(255, 255, 255, 0.2);
}

.navigation ul li a {
  cursor: pointer;
  display: block;
  padding: 1ex 0;
  position: relative;
  text-decoration: none;
}

.navigation ul li a:after {
  border-top: 3ex solid transparent;
  border-bottom: 3ex solid transparent;
  border-right: 1.5ex solid transparent;
  content: "";
  height: 0;
  right: -2ex;
  margin-top: -3ex;
  position: absolute;
  top: 50%;
  transition: border 300ms;
  width: 0;
  z-index: 99999;
}

.navigation ul li:hover a:after,
.navigation ul li.active a:after {
  border-right-color: white;
}

.resume h3 + p {
  margin: 0;
}

.resume hr + p {
  margin: 0;
}

.resume ol,
.resume ul {
  padding: 0ex;
}

.resume ol li {
  margin-left: 3ex;
}

.resume ul li {
  margin-left: 2ex;
}

.resume li p + p {
  margin-top: -2ex;
}


@media print {
  @page {
    margin: 2mm;
    padding: 0;
  }

  * {color: black !important;}

  a[href]:after {content: "" !important;}

  h1 {line-height: 0;}

  h2 {font-size: 120%;}

  aside,
  .cicada,
  .resume.non-it,
  .sr-only,
  #non-information-technology {display: none;}

  .layout {
    box-shadow: unset;
    display: block !important;
    max-width: unset;
  }

  .main {
    padding-top: 0;
  }

  .main > .resume > * {
    padding-left: 14ex;
  }

  .main > .resume hr + p {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    width: 11ex;
  }
} /* @media print */

@media screen and (min-width: 900px) {
  .layout {
    display: grid;
    grid-template-areas:
      "aside header"
      "aside content";
    grid-template-columns: 1fr minmax(400px, 2fr);
    grid-template-rows: auto;
  }

  .main > .resume > * {
    padding-left: 14ex;
  }

  .main > .resume hr + p {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    width: 11ex;
  }
} /* @media screen and (min-width: 900px) */
