@import "cicada.css";
@import "colors.css";
@import "navigation.css";
@import "resume.css";
@import "sidebar.css";
@import "slides.css";

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: #18453b;
}

body {
  height: 100%;
}

h1 {
  color: #18453b;
  font-weight: 100;
  margin: 1ex 0 0;
}

h1 a {
  text-decoration: none;
}

header {
  grid-area: header;
}

html {
  background: rgb(224, 223, 209);
}

pre code {
  background: gainsboro;
  display: block;
  overflow: auto;
}

pre code[class*="language-"] {
  border-radius: 1ex;
  padding: 1ex;
}

.contentinfo p > a {
  margin-right: .5ex;
}

.layout {
  background: white;
  box-shadow: 2rem 6rem 3rem 2rem rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
  margin: 4ex auto 12em;
  max-width: 120ex;
  min-height: 80%;
  position: relative;
  z-index: 99;
}

.main {
  padding: 2ex;
}

.main h3 {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

.main h4 {
  margin: 0;
}

@media print {
  @page {
    margin: 2mm;
    padding: 0;
  }

  * {color: black !important;}

  a[href]:after {content: "" !important;}

  h1 {line-height: 0;}

  h2 {font-size: 120%;}

  aside,
  .cicada,
  .sr-only,
  #resume__non-tech {display: none;}

  .layout {
    box-shadow: unset;
    display: block !important;
    max-width: unset;
  }

  .main {
    padding-top: 0;
  }

  .resume h3 {
    border: 0;
    padding-top: unset;
  }
} /* @media print */

@media screen and (min-width: 900px) {
  .layout {
    display: grid;
    grid-template-areas:
      "aside header"
      "aside content";
    grid-template-columns: 1fr minmax(400px, 2fr);
    grid-template-rows: auto;
  }
} /* @media screen and (min-width: 900px) */
