.resume {
  --indent: 4ex;
}

.resume > ul {
  margin-left: var(--indent);
}

.main .resume h3 {
  border-top: 1px solid #444;
  margin-bottom: 2ex;
  padding-top: 1ex;
}

.resume h4 {
  float: left;
}

.resume h4 + p {
  margin-top: 0;
  text-align: right;
}

.resume ol,
.resume ul {
  padding: 0ex;
}

.resume > ol li,
.resume > ul li {
  margin-left: 0;
}

.resume li li {
  margin-left: 3ex;
}

#resume__non-tech {
  display: none;
}

#resume__non-tech summary {
  cursor: pointer;
  list-style: none;
  user-select: none;
}

#resume__non-tech summary > *:before{
  display: inline-block;
  text-align: center;
  width: 2ex;
}

#resume__non-tech:not([open]) summary > *:before {
  content: "-";
}

#resume__non-tech[open] summary > *:before {
  content: "+";
}
