<!doctype html />
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <meta name="description" content="{{description}}" />

  <title>{% block title %}Articles written by {{site.author.name}}{% endblock %}</title>
  <link rel="stylesheet" href="/styles.css" />

<body>
  <header id="top" role="banner">
    <div class="drop">
      <div class="drop--content">
          <div class="container">
            <ul>
              <li class="email">~kalisjoshua~@~gmail.com~</li>
              <li>twitter.com/<a href="//twitter.com/kalisjoshua">kalisjoshua</a></li>
              <li>github.com/<a href="//github.com/kalisjoshua">kalisjoshua</a></li>
              <li>linkedin.com/in/<a href="//linkedin.com/in/kalisjoshua">kalisjoshua</a></li>
              <li>plus.google.com/<a href="//plus.google.com/+JoshuaKalis">+JoshuaKalis</a></li>
              <li><a href="//joshuakalis.com">JoshuaKalis.com</a> = resume + portfolio</li>
            </ul>
          </div>
      </div>

      <div class="container">
        <div class="drop--handle">Contact Me</div>
      </div>
    </div>

    <div class="container">
      <h1><a href="/">{{site.author.name}}</a><small class="tagsFilter"></small></h1>
    </div>
  </header>

  <section id="main" role="main">
    {% block content %}default content{% endblock %}
  </section>

  <footer role="contentinfo">
    <div>
      <p>&copy; {{currentYear}} {{site.author.name}} under the MIT license.</p>
      <p>All code snippets used in the examples are in the public domain.</p>
      <p>GitHub holds <a href="//github.com/kalisjoshua/kalisjoshua.me">the source code</a> for this blog.</p>
    </div>

    <div class="devtroit">
      <a class="svg-link" href="//devtroit.com">
        <object alt="Devtroit SVG logo" data="/devtroit.svg" type="image/svg+xml">Devtroit</object>
      </a>
    </div>
  </footer>

  <div class="logos">
    {% set logos = [
      {svg: 'nodejs', title: 'NodeJS', url: '//nodejs.org'},
      {svg: 'npm', title: 'npm', url: '//npmjs.org'},
      {svg: 'markdown', title: 'Markdown', url: '//github.com/chjj/marked'},
      {svg: 'css3', title: 'CSS3', url: '//developer.mozilla.org/en-US/docs/Web/CSS/CSS3'},
      {svg: 'html5', title: 'HTML5', url: '//w3.org/html/logo/'},
      {svg: 'javascript', title: 'JavaScript', url: '//developer.mozilla.org/en-US/docs/Web/JavaScript'},
      {svg: 'git', title: 'Git', url: '//git-scm.com'},
      {svg: 'heroku', title: 'Heroku', url: '//heroku.com'},
      {svg: 'jquery', title: 'jQuery', url: '//jquery.com'},
      {svg: 'disqus', title: 'Disqus', url: '//disqus.com'},
      {svg: 'twitter', title: 'Twitter', url: '//twitter.com'}
    ] %}
    {% for logo in logos %}
    <a class="svg-link" href="//{{logo.url}}">
      <object alt="{{logo.title}} SVG image" data="/{{logo.svg}}.svg" type="image/svg+xml">{{logo.title}}</object>
    </a>
    {% endfor %}
  </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/scripts.js"></script>
