<!doctype html />
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <meta name="description" content="{{description}}" />

  <title>{% block title %}{{site.author.name}} - {{site.name}}{% endblock %}</title>
  <link rel="stylesheet" href="/styles.css" />

<body>
  <header id="top" role="banner">
    <div class="drop">
      <div class="drop--content">
          <div class="container">
            <ul>
              <li class="email">~kalisjoshua~@~gmail.com~</li>
              <li>twitter.com/<a href="//twitter.com/kalisjoshua">kalisjoshua</a></li>
              <li>github.com/<a href="//github.com/kalisjoshua">kalisjoshua</a></li>
              <li>linkedin.com/in/<a href="//linkedin.com/in/kalisjoshua">kalisjoshua</a></li>
              <li>plus.google.com/<a href="//plus.google.com/+JoshuaKalis">+JoshuaKalis</a></li>
              <li><a href="//joshuakalis.com">JoshuaKalis.com</a> = resume + portfolio</li>
            </ul>
          </div>
      </div>

      <div class="container">
        <div class="drop--handle">Contact Me</div>
      </div>
    </div>

    <div class="container">
      <h1><a href="/">{{site.author.name}}</a><small class="tags--filter"></small></h1>
    </div>
  </header>

  <section id="main" role="main">
    {% block content %}
      default content
    {% endblock %}
  </section>

  <footer role="contentinfo">
    <div>{% include 'part/creativecommons.html' %}</div>

    <div class="devtroit">
      <a class="svg-link" href="//devtroit.com">
        <object alt="Devtroit SVG logo" data="/devtroit.svg" type="image/svg+xml">Devtroit</object>
      </a>
    </div>
  </footer>

  {% include 'part/logos.html' %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/scripts.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-19419400-2', 'kalisjoshua.me');
  ga('send', 'pageview');
</script>
