
@theme-hex: #339900;
@theme: fadeOut(@theme-hex, 20%);

@theme--dark-hex: #123123;
@theme--dark: fadeOut(@theme--dark-hex, 40%);

@notice--background-hex: spin(@theme--dark-hex, 160);
@notice--background: fadeOut(@notice--background-hex, 30%);