
#both (@bodyFontSize) {
  body {
    font-size: @bodyFontSize;
  }

  h1 {
    font-size: 1.5em;
  }

  header nav li {
    left: 0;
    overflow: hidden;
    position: relative;
    text-indent: 100%;
    top: 0;
    white-space: nowrap;

    a {
      position: absolute;
      right: 0;
      text-transform: capitalize;
      top: 0;
    }
  }

  .drop--handle span {
    display: none;
  }

  .TOC {
    clear: both;
    display: block;
    float: none;
  }
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  #both(110%);
}

@media screen and (max-device-width: 640px) and (orientation: landscape) {
  #both(70%);
}
