.section-resume .main h2 {
  border-bottom: 1px solid;
}

.section-resume .main h3 {
  float: left;
}

.section-resume h3 + p {
  text-align: right;
}

.section-resume h4 {
  clear: left;
}

.section-resume h4 {
  float: left;
  padding-right: 1ex;
}

.section-resume h4 + p {
  font-size: 95%;
}
.section-resume h4 + p:after {content: ")"}
.section-resume h4 + p:before {content: "("}

.section-resume h4 + *:not(p) {
  clear: both;
}

#resume__non-tech {
  display: none;
}

#resume__non-tech summary {
  cursor: pointer;
  list-style: none;
  user-select: none;
}

#resume__non-tech summary > *:before{
  display: inline-block;
  text-align: center;
  width: 2ex;
}

#resume__non-tech:not([open]) summary > *:before {
  content: "-";
}

#resume__non-tech[open] summary > *:before {
  content: "+";
}
