/* ========================================================================== */
/* presentation formatting */
/* ========================================================================== */

.slide-deck {
  align-items: center;
  display: flex;
}

.slide-deck aside {
  display: none;
}

.slide-deck main {
  height: 100%;
  overflow: scroll;
  padding: 0;
  scroll-snap-type: y mandatory;
  width: 100%;
}

.slide-deck .layout {
  display: unset;
  grid: unset;
  margin: 0 auto 0;
  height: 80%;
  max-width: unset;
  min-height: unset;
  overflow: hidden;
  padding: 2ex;
  width: 80%;
}

.slide-deck .slide-deck__slide {
  height: 100%;
  margin: 0;
  padding: 1px;
  position: relative;
  scroll-snap-align: start;
}

/* ========================================================================== */
/* generic content formatting */
/* ========================================================================== */

.slide-deck .slide-deck__slide blockquote {
  border-left: 10px solid gainsboro;
  padding: 1ex;
  padding-left: 1em;
}

.slide-deck .slide-deck__slide blockquote p {
  margin: 0;
  padding: 0;
}

.slide-deck .slide-deck__slide code {
  font-family: monospace;
  max-height: 40ex;
  overflow: scroll;
}

.slide-deck .slide-deck__slide code:not([class*="language"]) {
  background: gainsboro;
  padding: 0 .5ex;
}

.slide-deck .slide-deck__slide footer {
  align-items: baseline;
  border-top: 1px solid #CCC;
  bottom: 0;
  display: flex;
  left: 0;
  position: absolute;
  text-align: left;
  width: 100%;
}

.slide-deck .slide-deck__slide footer h1 {
  flex-grow: 1;
  font-size: 140%;
  margin: 0;
  padding: 0;
}

.slide-deck .slide-deck__slide footer p {
  margin: 0;
  padding: 0;
}

.slide-deck .slide-deck__slide h1 {
  color: red;
  font-size: 400%;
}

.slide-deck .slide-deck__slide {
  font-size: 150%;
}

.slide-deck .slide-deck__slide h2 {
  font-size: 250%;
}

.slide-deck .slide-deck__slide h2 + p{
  padding: 0 12ex;
}

.slide-deck .slide-deck__slide h3 {
  border-bottom: 1px solid;
  font-size: 230%;
}

.slide-deck .slide-deck__slide h4 {
  border-bottom: 1px solid;
  font-size: 220%;
}

.slide-deck .slide-deck__slide ol, ul {
  text-align: left;
}

/* ========================================================================== */
/* specific slide type formatting */
/* ========================================================================== */

.slide-deck__slide.content-aligned--center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
