@import "./lib/normalize.css";
@import "./lib/h5bp.css";

@import "./slides.css";

:root {
  --blue: #0b3142;
  --green: #2b3736;
  --pink: #d75b93;
  --purple: #452136;
  --silver: #f2f2f2;

  --radius-bg: 12px;
  --radius-sm: 4px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: var(--green);
  color: var(--silver);

  a {
    color: var(--purple);

    &.anchor[aria-hidden="true"] {
      display: none;
    }
  }

  h1 {
    color: var(--purple);
    margin: 1ex 0 0;

    a {
      text-decoration: none;
    }
  }

  pre {
    code {
      background: gainsboro;
      display: block;
      overflow: auto;

      &[class*="language-"] {
        border-radius: 1ex;
        padding: 1ex;
      }
    }
  }

  ul {
    padding-left: 2ex;
  }
}

aside {
  container-type: inline-size;
  overflow: hidden;
  padding: 2ex;

  & a {
    color: inherit;
  }

  @container (width > 600px) {
    nav {
      float: right;
      width: 50%;
    }
  }

  h2#projects + ul {
    @container (width > 600px) {
      column-count: 3;
    }
  }

  & .dev-icons {
    background: #612e3f;
    border: 8px solid gainsboro;
    border-left: 0;
    border-right: 0;
    box-shadow: inset 0 100px 100px 0px rgba(0, 0, 0, 0.2),
      0 0 100px 10px rgba(0, 0, 0, 0.5);
    box-sizing: unset;
    margin: 0 -2ex;
    padding: 4ex 2ex;
    text-align: center;

    & img {
      background: white;
      border-radius: 5px;
      box-sizing: unset;
      height: 30px;
      margin: 5px;
      padding: 6px;
    }
  }

  & #jk-logo {
    &,
    & * {
      margin: 0;
      padding: 0;
    }

    img {
      background: white;
      height: 80px;
      margin: 0;
      padding: 4px;
      position: relative;
      width: 80px;
    }
  }

  & #pride-ally {
    margin: 8ex 0;
    text-align: center;
  }
}

main {
  background: var(--silver);
  color: black;

  strong {
    color: var(--purple);
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: serif;
  }

  h2 {
    border-bottom: 1px solid;
    color: var(--pink);

    &#impact + ul {
      @media (min-width: 400px) {
        column-count: 2;
      }

      li {
        break-inside: avoid;
        padding: 0 0 1ex;
      }
    }
  }

  h3 {
    font-size: 100%;
    font-weight: 400;
    margin: 1em 0 0;
  }

  h4 {
    margin: 0;
  }

  header {
    h1 {
      font-size: 2.5em;
      margin: 0;
      padding-top: 1em;

      + p {
        margin-top: 0;
      }
    }

    #google-doc-link {
      background: var(--pink);
      border-radius: 0 0 4px 4px;
      padding: 1ex;
      position: absolute;
      top: 0;
      right: 0;

      a {
        color: var(--silver);
        text-decoration: none;
      }
    }
  }
}

nav {
  display: flex;
  gap: 2em;

  & > ul {
    flex-grow: 1;
  }

  &,
  & ul,
  & ul li {
    margin: 0 -2ex;
    padding: 0 2ex;
  }

  & ul li {
    border: 1px solid transparent;
    border-right: 0;
    border-radius: 9px 0 0 9px;
    list-style-type: none;
    margin: 0 -2ex 3px;
    overflow: hidden;
    padding: 0 2ex;
    transition: background 300ms;

    &:hover {
      border-color: var(--pink);
    }

    &.active {
      background: var(--pink);
      color: var(--silver);
    }

    & a {
      cursor: pointer;
      display: block;
      padding: 1ex 0;
      position: relative;
      text-decoration: none;

      &:after {
        border-top: 3ex solid transparent;
        border-bottom: 3ex solid transparent;
        border-right: 1.5ex solid transparent;
        content: "";
        height: 0;
        right: -2ex;
        margin-top: -3ex;
        opacity: 0.6;
        position: absolute;
        top: 50%;
        transition: border 300ms;
        width: 0;
        z-index: 99999;
      }
    }

    &:hover a:after,
    &.active a:after {
      border-right-color: var(--silver);
    }

    &.active a:after {
      opacity: 1;
    }
  }
}

@media screen {
  #contact,
  #projects {
    & + ul a {
      border-bottom: 1px solid var(--pink);
      text-decoration: none;
      transition: all 200ms ease-in-out;

      &:hover {
        border-bottom-color: white;
      }
    }
  }

  main {
    padding: 0 1em 1em;
  }

  #education + ul,
  #employment + ul {
    span {
      float: right;
    }
  }

  main > header + p,
  #education + ul {
    background: white;
    border-left: var(--radius-sm) solid var(--pink);
    border-radius: var(--radius-bg);
    list-style-type: none;
    margin: 1em 0;
    padding: 1em;
  }

  main {
    ul ::marker {
      color: var(--pink);
    }
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 150%;
  }
}

@media screen and (min-width: 900px) {
  .layout {
    display: grid;
    grid-template-areas:
      "aside header"
      "aside content";
    grid-template-columns: 1fr minmax(400px, 2fr);
    grid-template-rows: auto;
    margin: 0 auto;
    max-width: 120ex;
    min-height: 80%;
    position: relative;
    z-index: 99;

    & aside {
      grid-area: aside;
    }

    & header {
      grid-area: header;
    }
  }
} /* @media screen and (min-width: 900px) */

@media print {
  @page {
    margin: 0 0.5in !important;
  }

  * {
    color: black !important;
  }

  p,
  li {
    font-size: 11pt;
  }

  a[href]:after {
    content: "";
  }

  a[href*="docs.google.com"] {
    display: none;
  }

  h1 {
    font-size: 16pt !important;
    font-weight: 900 !important;
    text-align: center;

    & small {
      display: block;
      font-size: 11pt !important;
      font-weight: 200;

      & :before {
        content: "517.803.9806 - kalisjoshua@gmail.com - https://linkedin.com/in/kalisjoshua - ";
      }
    }
  }

  h2 {
    border: 0 !important;
    font-size: 14pt !important;
    margin: 0;
    padding: 0;
  }

  h3 {
    font-size: 12pt !important;
    line-height: 0 !important;
  }

  ul {
    margin: 1ex 0;
    padding: 0;
  }

  aside,
  header p,
  .cicada,
  .sr-only {
    display: none;
  }

  .layout {
    box-shadow: unset;
    display: block !important;
    max-width: unset;
  }
}
