<!doctype html />
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <meta name="description" content="{{description}}" />

  <title>{% block title %}{{site.author.name}} - {{site.name}}{% endblock %}</title>
  <link rel="stylesheet" href="/styles.css" />

<body>
  <p class="visuallyhidden"><a href="#main">Skip Navigation</a></p>

  <header id="top" role="banner">
    <div class="drop">
      <div class="drop--content drop--content__menu">
        <nav class="container" role="navigation">
          <a class="drop--close" href="#drop-close">&times;</a>
          {{menu|safe|marked}}
        </nav>
      </div>
      <div class="drop--content drop--content__notice">
        <div class="container">
          <a class="drop--close" href="#drop-close">&times;</a>
          {{notice|safe|marked}}
        </div>
      </div>

      <div class="container">
        <div class="drop--handle" data-drop=".drop--content__menu">Menu</div>
        <div class="drop--handle notice" data-drop=".drop--content__notice">Notice to Recruiters</div>
      </div>
    </div>

    <div class="container">
      <h1><a href="/">{{site.author.name}}</a><small class="tags--filter"></small></h1>
    </div>
  </header>

  <!-- FIXME: add meta info to pages for cssClassName for sectioning -->
  <section class="{{title|lower|replace('\s', '_', 'g')}}" id="main" role="main">
    {% block content %}
      default content
    {% endblock %}
  </section>

  <footer role="contentinfo">
    <div>{% include 'part/creativecommons.html' %}</div>

    <div class="devtroit">
      <a class="svg-link" href="//devtroit.com">
        <object alt="Devtroit SVG logo" data="/devtroit.svg" type="image/svg+xml">Devtroit</object>
      </a>
    </div>

    <a href="#contact" id="contact"></a>
    <div>{{contact|safe|marked}}</div>
  </footer>

  {% include 'part/logos.html' %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/scripts.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-19419400-2', 'kalisjoshua.me');
  ga('send', 'pageview');
</script>
