:root {
  --bg: rgb(224, 223, 209);
  --bg-dark: #2A363B;
  --gold: rgba(200, 200, 50, 0.5);
  --green: rgba(0, 170, 70, 0.5);
  --magenta: rgba(140, 35, 70, 0.5);
  --pink: rgba(163, 44, 120, 0.5);
  --purple: rgba(119, 64, 152, 0.5);
  --teal: rgba(50, 100, 100, 0.5);
}
