@use "./lib/normalize.css";
@use "./lib/h5bp.css";

@use "./cicada.css";
@use "./colors.css";
@use "./highlight.scss";
@use "./navigation.css";
@use "./resume.css";
@use "./sidebar.css";
@use "./slides.css";

@use "./print.scss";

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: #18453b;
}

a.anchor[aria-hidden="true"] {
  display: none;
}

body {
  height: 100%;
}

h1 {
  color: #18453b;
  font-weight: 100;
  margin: 1ex 0 0;
}

h1 a {
  text-decoration: none;
}

header {
  grid-area: header;
}

html {
  background: rgb(224, 223, 209);
}

pre code {
  background: gainsboro;
  display: block;
  overflow: auto;
}

pre code[class*="language-"] {
  border-radius: 1ex;
  padding: 1ex;
}

.contentinfo p > a {
  margin-right: .5ex;
}

.layout {
  background: white;
  box-shadow: 2rem 6rem 3rem 2rem rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
  margin: 4ex auto 12em;
  max-width: 120ex;
  min-height: 80%;
  position: relative;
  z-index: 99;
}

.main {
  padding: 2ex;
}

.main h3 {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

.main h4 {
  margin: 0;
}

@media screen and (min-width: 900px) {
  .layout {
    display: grid;
    grid-template-areas:
      "aside header"
      "aside content";
    grid-template-columns: 1fr minmax(400px, 2fr);
    grid-template-rows: auto;
  }
} /* @media screen and (min-width: 900px) */
