.navigation,
.navigation ul,
.navigation ul li {
  margin: 0 -2ex;
  padding: 0 2ex;
}

.navigation ul li {
  list-style-type: none;
  margin: 0 -2ex 3px;
  overflow: hidden;
  padding: 0 2ex;
  transition: background 300ms;
}

.navigation ul li:hover {
  background: rgba(0, 0, 0, 0.4);
}

.navigation ul li.active {
  background: white;
  background: rgba(255, 255, 255, 0.2);
}

.navigation ul li a {
  cursor: pointer;
  display: block;
  padding: 1ex 0;
  position: relative;
  text-decoration: none;
}

.navigation ul li a:after {
  border-top: 3ex solid transparent;
  border-bottom: 3ex solid transparent;
  border-right: 1.5ex solid transparent;
  content: "";
  height: 0;
  right: -2ex;
  margin-top: -3ex;
  position: absolute;
  top: 50%;
  transition: border 300ms;
  width: 0;
  z-index: 99999;
}

.navigation ul li:hover a:after,
.navigation ul li.active a:after {
  border-right-color: white;
}
