.section-resume .main h2 {
  border-bottom: 1px solid;
}

.section-resume .main h3 {
  float: left;
  font-weight: 100;
}

.section-resume h3 + p {
  font-weight: 100;
  margin: 0;
  text-align: right;
}

#resume__non-tech {
  display: none;
}

#resume__non-tech summary {
  cursor: pointer;
  list-style: none;
  user-select: none;
}

#resume__non-tech summary > *:before{
  display: inline-block;
  text-align: center;
  width: 2ex;
}

#resume__non-tech:not([open]) summary > *:before {
  content: "-";
}

#resume__non-tech[open] summary > *:before {
  content: "+";
}
